/* setup vars as i do intend to reuse this code for my actual website */
:root {
    --wp: url('/beach.png');
    --wpb: url('/beach-blur.png');
    --wpbd: url('/beach-blur-darker.png');
    --bamboo: url('/BAMBOOLOOP.png');
    --bamboostop: url('/BAMBOOSTOPPIE.png');
    --bambL: url('/BMBENDLEFT.png');
    --bambR: url('/BMBENDRIGHT.png');
    --pre: #64bde9;
    --dark: #1E1E1E99;
    --oceanL: #ade6f7;
    --claws: #082142;
    --header: #9cceff;
    --tempBG: #ff000080;
    --darkCol: #00000080;
}
/* buka bird definition */
@font-face {
    font-family: 'BukaBird';
    src: url('/BukaBird.ttf') format('truetype');
}
/* ubuntu font for other text */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* le cool shit */
::-webkit-scrollbar-thumb{background-color: #73633a;}
::-webkit-scrollbar-thumb:hover{background-color: #c5bea7;}
::-webkit-scrollbar-thumb:active{background-color: var(--oceanL);}
::-webkit-scrollbar{background-color: var(--darkCol) !important;}
::-moz-selection {color: var(--oceanL);background: var(--claws);}
::selection {color: var(--oceanL);background: var(--claws);}
/* CLASS SPECIFICALLY FOR TEXT TO USE BUKA BIRD */
.bb{font-family: 'BukaBird', sans-serif;}
/* ubuntu */
.ub{font-family: 'Ubuntu', sans-serif;}
/* le actual shit */
html,body{width:100%;height:100%;margin:0;padding:0;overflow-x:hidden;}
*{box-sizing:border-box;}
*,img{image-rendering:pixelated;image-rendering:-moz-crisp-edges;}
body{background-color:var(--pre);background-image:var(--wp);background-size:cover;background-repeat:no-repeat;background-attachment:fixed;background-position:center;image-rendering:pixelated;image-rendering:-moz-crisp-edges;}
.container{display:flex;flex-direction:column;position:relative;float:right;height:calc(100% - 64px);max-width:1024px;width:100%;/*background-color:var(--tempBG);*/margin-right:96px;margin-top:32px;/*awesome drop shadow epic style*/filter:drop-shadow(0px 16px 24px #00000090);}
.top,.content,.links{position:relative;background-color:var(--dark);background-image:var(--wpbd);background-size:cover;background-position:center;background-attachment:fixed;background-repeat:no-repeat;image-rendering:pixelated;image-rendering:-moz-crisp-edges;}
a.headerlink{text-decoration:none;}
img.logo{width:100%;height:auto;padding:32px;}
hr.inv{opacity:0;}
.top{flex: 0 1 auto;}
.content{flex: 1 1 auto;}
.palmL,.palmR{position:absolute;z-index:2;width:auto;height:100%;top:0px;}
.palmL{left:-120px;}
.palmR{right:-120px;}
.bambooTop,.bambooBottom{display:grid;grid-template-columns:repeat(5, 1fr);grid-template-rows:1fr;grid-column-gap:0px;grid-row-gap:0px;height:27px;width:100%;background-image:var(--bamboo);background-repeat:repeat-x;background-position:center;image-rendering:pixelated;image-rendering:-moz-crisp-edges;position:absolute;}
.stoppie1 { grid-area: 1 / 1 / 2 / 2; }
.stoppie2 { grid-area: 1 / 2 / 2 / 3; }
.stoppie3 { grid-area: 1 / 3 / 2 / 4; }
.stoppie4 { grid-area: 1 / 4 / 2 / 5; }
.stoppie5 { grid-area: 1 / 5 / 2 / 6; }
.stsh{height:27px;background-image:var(--bamboostop);background-size:contain;width:auto;background-repeat:no-repeat;background-position:center;image-rendering:pixelated;image-rendering:-moz-crisp-edges;}
.bambooTop::after,.bambooBottom::after{content:"";width:40px;height:27px;background-image:var(--bambR);background-size:contain;background-repeat:no-repeat;background-position:center;image-rendering:pixelated;image-rendering:-moz-crisp-edges;position:absolute;right:-25px;}
.bambooTop::before,.bambooBottom::before{content:"";width:40px;height:27px;background-image:var(--bambL);background-size:contain;background-repeat:no-repeat;background-position:center;image-rendering:pixelated;image-rendering:-moz-crisp-edges;position:absolute;left:-25px;}
.bambooTop{top:-16px;}
.bambooBottom{bottom:-16px;}
*,img{image-rendering:pixelated;image-rendering:-moz-crisp-edges;}

/* media queries to unfuck things at different screen sizes */
@media only screen and (max-width: 1220px) {
    .container{width:calc(100% - 32px);max-width:unset;margin-left:auto;margin-right:16px;}
    .palmL{left:-100px;}
    .palmR{right:-100px;}
}
@media only screen and (max-width:720px) {
    .palmR{right:-75px;}
    .palmL{left:-75px;}
}
@media only screen and (max-width:512px) {
    .palmR{right:-60px;}
    .palmL{left:-60px;}
}

/* make da trees  pretty... */
@keyframes rotation {
    0%, 100% {transform: rotate(-7deg);}
    50% {transform: rotate(5deg);}
}
@keyframes rotationrev {
    0%, 100% {transform: rotate(7deg);}
    50% {transform: rotate(-5deg);}
}

.palmL,.palmR{animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95) !important;}
.palmL{animation:rotation 4s infinite;}
.palmR{animation:rotationrev 4s infinite;}

.links h1,.links h2,.links h3,.links h4,.links h5,.links h6{margin:6px;}
h1,h2,h3,h4,h5,h6{color:var(--header);}
.links{display:flex;flex-direction:row;}
.flw{flex: 0 1 auto;display:flex;justify-content:center;align-items:center;padding-left:10px;margin-top:12px;margin-bottom:12px;}
.links2{flex: 1 1 auto;}
.links .flw{border-right: 4px solid var(--header);padding-right:10px;}
.flw .lh1{font-weight:normal;}
.links .links2 .lh1txt{padding-left:10px;font-weight:normal;color:white;text-align:center;width:100%;display:flex;align-items:center;justify-content:center;}
.links .links2 .lh1txt a{color:white;margin:5px;margin-bottom:0;padding-bottom:0;text-decoration:none;transition:border-bottom 0.2s ease-in-out;border-bottom:2px solid transparent;margin-left:15px;margin-right:15px;}
.links .links2 .lh1txt a:hover{border-bottom: 2px solid white;}
.stitch{padding-left:50px;position:relative;}
.stitch::before{content:"";width:50px;height:50px;display:block;position:absolute;top:-8px;left:-6px;background-image: url('/stitch.gif');background-repeat:no-repeat;background-size:contain;background-position:center;image-rendering:pixelated;image-rendering:-moz-crisp-edges;}

/* main content frame */
#cf{width:100%;height:100%;}

/* unironically fuck apple, y'all can suck my fat wiggly alien dick */
@media only screen and (max-width:720px) {
    h2.lh1txt {font-size:0.9em;}
    .flw{padding-right:4px!important;}
    .links .links2 .lh1txt {padding-left:0;}
	.links .links2 .lh1txt a{margin-left:5px;margin-right:5px;}
}
@media only screen and (max-width:480px) {
    .stitch::before {width:20px;height:20px;top:0px;}
    .flw .lh1{font-size:1em;padding-left:15px;margin-right:0;}
    .links .flw{border-right:2px solid var(--header);}
    h2.lh1txt {font-size:0.7em;margin-left:0;margin-right:0;}
}


.fuckapple{image-rendering:pixelated;image-rendering:-moz-crisp-edges;position:fixed;right:24px;bottom:24px;}
*{box-sizing:border-box;color:white;}
h1,h2,h3,h4,h5,h6{color:var(--header);}
.cnt{text-align:center;}
.nfw{font-weight:normal;}
.brd{border-bottom:2px solid var(--header);padding-bottom:4px;}
.wht{color:white;}
*,img{image-rendering:pixelated;image-rendering:-moz-crisp-edges;}

/* Quote box container */
blockquote {
    border-left: 4px solid var(--header);
    background: var(--darkCol);
    padding: 20px;
    padding-top:8px;
    padding-bottom:8px;
    margin: 20px 0;
    position: relative;

    font-size: 18px;
    line-height: 1;
    color: white;

    &.quote {
        p {
            margin-bottom: 10px;
            &::before, &::after{
                font-size: 36px;
                color: var(--header);
                vertical-align: middle;
            }
            &::before {
                content: "\201C";
            }
            &::after {
                content: "\201D";
            }
        }
        address {
            font-size: unset;
            color: var(--pre);
            margin-bottom: 8px;
        }
    }


}
/* quote text style */
.quote-text {font-size: 18px;line-height: 1;color: white;margin-bottom: 10px;}
.fixmargin{margin-top:0;margin-bottom:0;}
.quote-author {font-style: italic;color: var(--pre);}
.quote-author.fixmargin{margin-bottom:8px;}
.inbl{display:inline-block;}
.jst{text-align:justify;}
a.rrr{float:right;display:flex;flex-direction:column;}
.rrr{float:right;display:flex;flex-direction:column;}
.mobile{display:none;}

/* unironically fuck apple, y'all can suck my fat wiggly alien dick */
@media only screen and (max-width:720px) {
    h2 {font-size:1.25em;}
    h3{font-size:1em;}
    .fuckapple{width:35px;height:48px;}
    p{font-size:0.8em!important;}
}
@media only screen and (max-width:480px) {
    h1{font-size:1.5em;}
    h2 {font-size:1.1em;}
    h3{font-size:0.9em;}
    .fuckapple{right:0;bottom:0;}
}
@media only screen and (max-width:420px) {
    .mobile{display:block;text-align:center;padding:0;margin:-10px;}
}
